[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "include/sciplot"]
	path = include/sciplot
	url = https://github.com/sciplot/sciplot
