# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# Doxygen
latex/
html/

# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# CMake Tests
build/

# This is a library
src/main.cpp

# templates
reveillib@*